<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h4>안녕하세요 여기는 About 페이지입니다.</h4>
    </div>
    <div>
        <h4 th:text="${name}">바지</h4>
        <p th:text="${price}">4억 5천만원</p>
    </div>
    <div>
        <a href="http://localhost:8080/others"><p>others로 가겠습니까?</p></a>
    </div>
</body>
</html>