<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="https://github.com/Leejinuk123/SpringBoot"><p>하이요</p></a>
    </div>
    <div>
        <a href="http://localhost:8080/about"><p>about으로 가겠습니까?</p></a>
    </div>
</body>
</html>